{% extends 'myapp/index.html' %}
{% block body_block %}
<div class="container">
  <h1 class='education'><b>Educational Qualifications</b></h1>
</div>
<div class="container">
<table style='padding:5px'>
  <thead class="table">
    <b><th>Course</th>
    <th>Branch</th>
    <th>Institution</th>
    <th>Board</th>
    <th>Year of Passing</th>
    <th>Percentage / GPA</th></b>
  </thead>
    <tr>
      <td>M.TECH</td>
      <td>Systems and Signal Processing</td>
      <td>JNTUH College of Engineering Hyderabad</td>
      <td>JNTUH</td>
      <td>2022</td>
      <td>Ongoing</td>
    </tr
    <tr>
      <td>B.TECH</td>
      <td>Electronics and Communications Engineering (ECE)</td>
      <td>JNTUH College of Engineering Sultanpur</td>
      <td>JNTUH</td>
      <td>2020</td>
      <td>7.74CGPA</td>
    </tr>
    <tr>
      <td>Intermediate</td>
      <td>MPC</td>
      <td>Narayana Junior College</td>
      <td>TSBIE</td>
      <td>2016</td>
      <td>96.6</td>
    </tr>
    <tr>
      <td>SSC</td>
      <td>-</td>
      <td>Vibgyor International School</td>
      <td>Board of Secondary Education(BSEAP)</td>
      <td>2014</td>
      <td>9.5</td>
    </tr>
</table>
</div>
{% endblock %}
