{% extends 'myapp/index.html' %}
{% block body_block %}
<div class="container">
<h1>PROJECT EXPERIENCE</h1>
</div>
<div class="container">
<ul>
  <li>Designed and Developed a vaccine storage system named “MeDI-BOX for vaccines” as a final year project.
    The project has got good applause and coverage in college media in pandemic times.</li>
  <li>Worked on a project named “Automatic engine locking system for drunken drivers” as a part
      of a mini project in my 7th semester.</li>
  <li>Worked on a Start-up as a business development associate in the Education technology sector
        which is a valuable experience and knowledge.</li>
  <li>Worked on Mini Project as a part of Internship in Electronics Corporation of India Limited.</li>
  <li> Worked on a home automation project as a part of state level hackathon conducted in MGIT
college.</li>
</ul>
</div>
{% endblock %}
