{% extends 'myapp/index.html' %}
{% block body_block %}
<div class="container">
<h1>RESEARCH EXPERIENCE</h1>
</div>
<div class="container">
  <h3>3D -MIMO WITH MASSIVE ANTENNAS IN 5G TECHNOLOGY:</h3><br>
<ul>
  <li>Published a research paper in International Research Journal of Engineering and
Technology presenting the role of 3D-MIMO with massive antennas in 5G technology. The
performance of 3D-MIMO is evaluated and analyzed by exploiting a system-level simulation
platform and the well established 3D channel model. </li>
<li>The simulation results show that 3D-MIMO with 64 antennas can enhance the cell-average and celledge throughput by 117% and 228%, respectively, which verifies the promised gains to be brought
by 3D-MIMO for future 5G systems.</li>
</ul>
</div>
{% endblock %}
