{% extends 'myapp/index.html' %}
{% block body_block %}
<div class="container">
  <h1>STRENGTHS</h1>
</div>
<div class="container">
  <ul>
    <li>A team player who mainly focuses on productivity and output.</li>
    <li>Critical thinking under Pressured situations.</li>
    <li>A passionate and quick learner.</li>
    <li>A good listener willing to accept feedback.</li>
    <li>Effective communication skills with fluency in three languages.</li>
    <li>A set of good leadership qualities.</li>
  </ul>
</div>
{% endblock %}
